<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curado</title>
    <!--BOOTSTRAP CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- FONTAWEBSOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    </head>
    
    <body>
    
        <nav class="navbar navbar-dark bg-dark mb-4">
            <a href="#" class="navbar-brand"> Fábrica de quesos</a>
            <a href="/curado" class="navbar-brand"> Curado</a>
            <a href="/stock" class="navbar-brand"> Stock</a>
            <a href="/logout" class="navbar navbar-dark"> Cerrar Sesión</a>
        </nav>

        <style>
            body {
                background: #5f2c82;
                /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
                /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #49a09d, #5f2c82);
                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
            }
        </style>

<div class="container text-center">
    <div class="row d-flex justify-content-center">

        <div class="col-md-12">
            <div class="mb-2 d-flex justify-content-end">
                <a href="/nuevo-registro-cur" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Nuevo registro">+ Nuevo</a>
            </div>
            
        </div>

        <!--LIST-->

        <div class="col-md-12">

            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title">Sector de Curado</h4>
                </div>
            </div> 

            <table class="table table-bordered table-hover table-striped table-secondary">
                <thead>
                    <th>N°</th>
                    <th>Fecha</th>
                    <th>N° Tanda</th>
                    <th>Humedad</th>
                    <th>Temperatura</th>
                    <th>Fecha de Control</th>
                    <th>Peso</th>
                    <th>Operación</th>
                </thead>

                <tbody>
                    <% for(var i=0; i < curado.length; i++) { %>
                        <tr>
                            <td>
                                <%= i+1 %>
                            </td>
                            <td>
                                <%= curado[i].fecha %>
                            </td>
                            <td>
                                <%= curado[i].tanda_num %>
                            </td>
                            <td>
                                <%= curado[i].humedad %>
                            </td>
                            <td>
                                <%= curado[i].temperatura %>
                            </td>
                            <td>
                                <%= curado[i].fecha_control %>
                            </td>
                            <td>
                                <%= curado[i].peso %>
                            </td>
                            <td>
                                <a href="/delete-cur/<%= curado[i]._id %>" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Borrar"><i class="fas fa-trash"></i></a>
                                <a href="/edit-cur/<%= curado[i]._id %>" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-edit"></i></a>
                            </td>
                        </tr>

                        <% } %>
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="<%= pages[0].url %>">Primera Página</a></li>
                    
                <% for(var i=0; i < pages.length; i++) { %>
                    <li class="page-item"><a class="page-link" href="<%= pages[i].url %>">
                        <%= i + 1 %>
                    </a></li>
                <% } %>

                    <li class="page-item"><a class="page-link" href="<%= pages[pages.length - 1].url %>">Última Página</a></li>
                </ul>
            </nav>

        </div>
    </div>
</div>

</body>
</html>