<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producción</title>
    <!--BOOTSTRAP CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"></head>
<body>

    <nav class="navbar navbar-dark bg-dark mb-4">
        <a href="/produccion" class="navbar-brand"> Fabrica de quesos </a>
        <a href="#" class="navbar-brand"> Produccion</a>
        <a href="/logout" class="navbar navbar-dark"> Cerrar Cesion</a>
    </nav>

    <style>
        body {
            background: #aa4b6b;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
    </style>
    
<div class="container">
    <div class="row">
        <!--FORM-->
        <div class="col-md-5 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form action="/edit-pro/<%= produccion._id %>" method="POST"> <!--Manda los datos del formulario-->
                        <h3>Editar Registro:</h3>
                        <div class="form-group">
                            <!--le paso los datos del titulo y la descripcion que quiero editar desde node -->
                            <label for="" class="form-label">Fecha de Ingreso Leche:</label>
                            <input type="text" name="fecha_ing" placeholder="Insertar Fecha" class="form-control" value="<%= produccion.fecha_ing %>">
                        </div>

                        <div class="form-group">
                            <label for="" class="form-label">Hora de Ingreso:</label>
                            <input type="text" name="hora" placeholder="Insertar Hora" class="form-control" value="<%= produccion.hora %>">
                        </div>

                        <div class="form-group">
                            <label for="" class="form-label">N° de Cisterna:</label>
                            <input type="text" name="cisterna" placeholder="Insertar N° de Cisterna" class="form-control" value="<%= produccion.cisterna %>">
                        </div>

                        <div class="form-group">
                            <label for="" class="form-label">Temperatura de la Leche:</label>
                            <input type="text" name="temperatura" placeholder="Temperatura en Celcius" class="form-control" value="<%= produccion.temperatura %>">
                        </div>

                        <div class="form-group">
                            <label for="" class="form-label">FERMENTOS:</label> <br>
                            <input type="radio" name="fermentos" id="ferm1" value="Psicrófílos">
                            <label for="ferm1">Psicrófílos</label> <br>
                            <input type="radio" name="fermentos" id="ferm2" value="Mesófilas">
                            <label for="ferm2">Mesófilas</label> <br>
                            <input type="radio" name="fermentos" id="ferm2" value="Termófilas">
                            <label for="ferm3">Termófilas</label> <br>
                        </div>

                        <div class="form-group">
                            <label for="" class="form-label">Nombre del empleado responsable:</label>
                            <input type="text" name="empleado" placeholder="Nombre del empleado" class="form-control" value="<%= produccion.empleado %>">
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
                        </div>

                        <div class="my-3">
                            <a href="/produccion" class="btn btn-success btn-block">Ver Lista</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>